#head {
    height: 80px;
    max-width: border-box;
    background-color: red;
}
h3{
    margin-left: 400px;
    background-color: red;
}
div{
    width: 100px;
    height: 100px;
    float: left;
    background-color: red;
}